@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
$primary: #182b49;
$secondary: #2ecc71;
$body-bg: transparent;
@import "node_modules/bootstrap/scss/bootstrap";